In [1]:
nums = [10, 30, 40, 50]
nums

[10, 30, 40, 50]

In [5]:
for i in range(len(nums)):
    print(nums[i])

10
30
40
50

In [7]:
for num in nums:
    print(num)

10
30
40
50

In [13]:
for num in nums:
    print(num)
    print('for loop ended')

10
for loop ended
30
for loop ended
40
for loop ended
50
for loop ended

In [15]:
for num in nums:
    print(num)
print('for loop ended')

10
30
40
50
for loop ended

In [19]:
for num in nums
    print(num)

SyntaxError: expected ':' (2623732502.py, line 1)

In [27]:
#Create a list with nums from 1 to 200
# nums = [1, 2, 3, 4, 5, 6...................................., 200]
# Or

In [29]:
nums = list(range(1, 201))
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200]

In [33]:
odd_nums = list(range(1, 201, 2))
print(odd_nums)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199]

In [35]:
li_1 = []

In [37]:
li_1.append(20)
li_1

[20]

In [39]:
nums = [10, 20, 30, 40]

In [43]:
# print each number by doubling - printing values one by one
for n in nums:
    r = n * 2
    print(r)

20
40
60
80

In [53]:
#print a new list of the squares from nums list values.
sq_li = []
for n in nums:
    r = n ** 2
    sq_li.append(r)

In [55]:
sq_li

[100, 400, 900, 1600]

## Excercise

In [58]:
cars = ["audi", "bmw", "toyota"]
# 1. how many cars in the cars list
# 2. print each car name as uppercase format
# 3. print a different list consist of title case elements from cars list
# 4. print a new list. Elements are - the length of each car.
# 5. print the cars list as temporarily sorted format (descending order)

In [62]:
#Task1
total_cars= len(cars)
print(total_cars)

3

In [66]:
#Task2
for car in cars:
    print(car.upper())

AUDI
BMW
TOYOTA

In [80]:
#Task3
cars_2=[]

for car in cars:
    r= car.title()
    cars_2.append(r)

print(cars_2)

['Audi', 'Bmw', 'Toyota']

In [82]:
#Task4
cars_3=[]

for car in cars:
    r= len(car)
    cars_3.append(r)

print(cars_3)

[4, 3, 6]

In [86]:
#Task5
temp_list= sorted(cars, reverse=True)
print(temp_list)

['toyota', 'bmw', 'audi']

## Slicing a List

In [89]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']

In [103]:
players[0:3]

['charles', 'martina', 'michael']

In [93]:
players[:3]

['charles', 'martina', 'michael']

In [95]:
players[1:4]

['martina', 'michael', 'florence']

In [97]:
players[3:]

['florence', 'eli']

In [99]:
players[-3:]

['michael', 'florence', 'eli']

In [101]:
players[-4:4]

['martina', 'michael', 'florence']

# Copying a List

In [106]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']

In [108]:
players[:]

['charles', 'martina', 'michael', 'florence', 'eli']

In [110]:
players

['charles', 'martina', 'michael', 'florence', 'eli']

In [112]:
new_players = players[:]
print(new_players)

['charles', 'martina', 'michael', 'florence', 'eli']

In [114]:
new_players.append("jinan")

In [118]:
print(new_players)
print(players)

['charles', 'martina', 'michael', 'florence', 'eli', 'jinan']
['charles', 'martina', 'michael', 'florence', 'eli']

In [120]:
new_players = players
print(new_players)

['charles', 'martina', 'michael', 'florence', 'eli']

In [122]:
new_players.append("jinan")

print(new_players)
print(players)

['charles', 'martina', 'michael', 'florence', 'eli', 'jinan']
['charles', 'martina', 'michael', 'florence', 'eli', 'jinan']

In [124]:
nums=[12,15,2,3,4,7,8,41]
new_nums= nums[:]
new_nums.append(71)
print(nums)
print(new_nums)

[12, 15, 2, 3, 4, 7, 8, 41]
[12, 15, 2, 3, 4, 7, 8, 41, 71]

In [126]:
new_nums=nums
new_nums.append(82)
print(nums)
print(new_nums)

[12, 15, 2, 3, 4, 7, 8, 41, 82]
[12, 15, 2, 3, 4, 7, 8, 41, 82]

In [138]:
list= [23,34,12,4,78,5,2,43,98]
first_3_char= list[:3]
print(f'The first three items in the list are:{first_3_char}')

The first three items in the list are:[23, 34, 12]

In [140]:
mid_3_chars= list[3:6]
print(f'Three items from the middle of the list are:{mid_3_chars}')

Three items from the middle of the list are:[4, 78, 5]

In [142]:
last_3_chars= list[-3:]
print(f'The last three items in the list are:{last_3_chars}')

The last three items in the list are:[2, 43, 98]