In [3]:
student_marks= {
    "Jinan":[90,85,88],
    "Smith":[77,89,92],
    "John":[66,72,84]
}
print(student_marks)

{'Jinan': [90, 85, 88], 'Smith': [77, 89, 92], 'John': [66, 72, 84]}

In [11]:
for key,value in student_marks.items():
    physics_marks= value[0]
    chemistry_marks= value[1]
    math_marks=value[2]
    print(f"Student name:{key}, Physics:{physics_marks}, Chemistry:{chemistry_marks}, Math:{math_marks}")

Student name:Jinan, Physics:90, Chemistry:85, Math:88
Student name:Smith, Physics:77, Chemistry:89, Math:92
Student name:John, Physics:66, Chemistry:72, Math:84

#### Problem - 2

In [14]:
users = {
 'aeinstein': {
 'first': 'albert',
 'last': 'einstein',
 'location': 'princeton',
 },
 'mcurie': {
 'first': 'marie',
 'last': 'curie',
 'location': 'paris',
 },
 'Smith': {
 'first': 'John',
 'last': 'mack',
 'location': 'paris',
 }  
}


# Output:
# Username: aeinstein, Firstname: Albert, Lastname: Einstein, Location: Princeton

In [26]:
for key, val in users.items():
    username = key
    firstname = val['first']
    lastname = val['last']
    location = val['location']

    print(f"Username:{username}, Firstname:{firstname.title()}, Lastname:{lastname.title()}, Location:{location.title()}")
    print(key)
    print(val)

Username:aeinstein, Firstname:Albert, Lastname:Einstein, Location:Princeton
aeinstein
{'first': 'albert', 'last': 'einstein', 'location': 'princeton'}
Username:mcurie, Firstname:Marie, Lastname:Curie, Location:Paris
mcurie
{'first': 'marie', 'last': 'curie', 'location': 'paris'}
Username:Smith, Firstname:John, Lastname:Mack, Location:Paris
Smith
{'first': 'John', 'last': 'mack', 'location': 'paris'}