In [3]:
student_marks= {
    "Jinan":[90,85,88],
    "Smith":[77,89,92],
    "John":[66,72,84]
}
print(student_marks)

{'Jinan': [90, 85, 88], 'Smith': [77, 89, 92], 'John': [66, 72, 84]}

In [11]:
for key,value in student_marks.items():
    physics_marks= value[0]
    chemistry_marks= value[1]
    math_marks=value[2]
    print(f"Student name:{key}, Physics:{physics_marks}, Chemistry:{chemistry_marks}, Math:{math_marks}")

Student name:Jinan, Physics:90, Chemistry:85, Math:88
Student name:Smith, Physics:77, Chemistry:89, Math:92
Student name:John, Physics:66, Chemistry:72, Math:84

#### Problem - 2

In [14]:
users = {
 'aeinstein': {
 'first': 'albert',
 'last': 'einstein',
 'location': 'princeton',
 },
 'mcurie': {
 'first': 'marie',
 'last': 'curie',
 'location': 'paris',
 },
 'Smith': {
 'first': 'John',
 'last': 'mack',
 'location': 'paris',
 }  
}


# Output:
# Username: aeinstein, Firstname: Albert, Lastname: Einstein, Location: Princeton

In [26]:
for key, val in users.items():
    username = key
    firstname = val['first']
    lastname = val['last']
    location = val['location']

    print(f"Username:{username}, Firstname:{firstname.title()}, Lastname:{lastname.title()}, Location:{location.title()}")
    print(key)
    print(val)

Username:aeinstein, Firstname:Albert, Lastname:Einstein, Location:Princeton
aeinstein
{'first': 'albert', 'last': 'einstein', 'location': 'princeton'}
Username:mcurie, Firstname:Marie, Lastname:Curie, Location:Paris
mcurie
{'first': 'marie', 'last': 'curie', 'location': 'paris'}
Username:Smith, Firstname:John, Lastname:Mack, Location:Paris
Smith
{'first': 'John', 'last': 'mack', 'location': 'paris'}

### Exercise1

In [8]:
shop= {
    "Shop_1":["Programming","Math","Literature"],
    "Shop_2":["Physics","Chemistry","Cooking"],
    "Shop_3":["Astronomy","Economics","Accounting"],
    "Shop_4":["Geography","History","Business"]
}


#Book categories in Shop_1-["Programming","Math","Literature"]

In [14]:
shop_list= list(shop)

In [16]:
shop_list

['Shop_1', 'Shop_2', 'Shop_3', 'Shop_4']

In [18]:
shop.items()

dict_items([('Shop_1', ['Programming', 'Math', 'Literature']), ('Shop_2', ['Physics', 'Chemistry', 'Cooking']), ('Shop_3', ['Astronomy', 'Economics', 'Accounting']), ('Shop_4', ['Geography', 'History', 'Business'])])

In [22]:
for k,v in shop.items():
    print(f"Book categories in {k}-{v}")

Book categories in Shop_1-['Programming', 'Math', 'Literature']
Book categories in Shop_2-['Physics', 'Chemistry', 'Cooking']
Book categories in Shop_3-['Astronomy', 'Economics', 'Accounting']
Book categories in Shop_4-['Geography', 'History', 'Business']

### Exercise2

In [27]:
student_marks= {
    "John":[90,70,89],
    "Mason":[92,74,60],
    "Susan":[65,90,96],
    "Jake":[74,87,22],
    "Noah":[86,94,56],
    "Chris":[76,98,79],
    "Wick" : [34, 56, 40]
}

# Student name : {name}, Total Marks in three quizes: {total_marks}, Average Mark: {avg_mark}, Grade: {grade}

# Avg Mark >= 80, Grade - A
# Avg Mark 70 to 79, Grade - B
# Avg Mark 60 to 69, Grade - C
# Avg Mark  51 to 59, Grade - D
# Avg Mark < 50, Grade - F

In [39]:
for k,v in student_marks.items():
    name=k
    total_marks=0
    for mark in v:
        total_marks= total_marks + mark

    avg_mark= total_marks/3
    avg_mark= round(avg_mark, 2)

    grade= ""

    if avg_mark>= 80:
        grade= "A"
    elif avg_mark>=70 and avg_mark<=79:
        grade= "B"
    elif avg_mark>=60 and avg_mark<=69:
        grade= "C"
    elif avg_mark>=51 and avg_mark<=59:
        grade= "D"
    else:
        grade= "F"


    print(f"Student Name:{name}, Total Marks in 3 quizzes:{total_marks}, Average Marks:{avg_mark}, Grade:{grade}")

Student Name:John, Total Marks in 3 quizzes:249, Average Marks:83.0, Grade:A+
Student Name:Mason, Total Marks in 3 quizzes:226, Average Marks:75.33, Grade:A
Student Name:Susan, Total Marks in 3 quizzes:251, Average Marks:83.67, Grade:A+
Student Name:Jake, Total Marks in 3 quizzes:183, Average Marks:61.0, Grade:B
Student Name:Noah, Total Marks in 3 quizzes:236, Average Marks:78.67, Grade:A
Student Name:Chris, Total Marks in 3 quizzes:253, Average Marks:84.33, Grade:A+
Student Name:Wick, Total Marks in 3 quizzes:130, Average Marks:43.33, Grade:F

In [42]:
grade_A = []
grade_B = []
grade_C = []
grade_D = []
grade_F = []

for k,v in student_marks.items():
    name=k
    total_marks=0
    for mark in v:
        total_marks= total_marks + mark

    avg_mark= total_marks/3
    avg_mark= round(avg_mark, 2)

    grade= ""

    if avg_mark>= 80:
        grade= "A"
        grade_A.append(name)
    elif avg_mark>=70 and avg_mark<=79:
        grade= "B"
        grade_B.append(name)
    elif avg_mark>=60 and avg_mark<=69:
        grade= "C"
        grade_C.append(name)
    elif avg_mark>=51 and avg_mark<=59:
        grade= "D"
        grade_D.append(name)
    else:
        grade= "F"
        grade_F.append(name)

    print(f"Student Name:{name}, Total Marks in 3 quizzes:{total_marks}, Average Marks:{avg_mark}, Grade:{grade}")

Student Name:John, Total Marks in 3 quizzes:249, Average Marks:83.0, Grade:A
Student Name:Mason, Total Marks in 3 quizzes:226, Average Marks:75.33, Grade:B
Student Name:Susan, Total Marks in 3 quizzes:251, Average Marks:83.67, Grade:A
Student Name:Jake, Total Marks in 3 quizzes:183, Average Marks:61.0, Grade:C
Student Name:Noah, Total Marks in 3 quizzes:236, Average Marks:78.67, Grade:B
Student Name:Chris, Total Marks in 3 quizzes:253, Average Marks:84.33, Grade:A
Student Name:Wick, Total Marks in 3 quizzes:130, Average Marks:43.33, Grade:F

In [58]:
grade_A

['John', 'Susan', 'Chris']

In [46]:
grade_B

['Mason', 'Noah']

In [48]:
grade_C

['Jake']

In [50]:
grade_D

[]

In [52]:
grade_F

['Wick']

In [60]:
len(grade_A)

3

In [65]:
grade_A = []
grade_B = []
grade_C = []
grade_D = []
grade_F = []

for k,v in student_marks.items():
    name=k
    total_marks=0
    for mark in v:
        total_marks= total_marks + mark

    avg_mark= total_marks/3
    avg_mark= round(avg_mark, 2)

    grade= ""

    if avg_mark>= 80:
        grade= "A"
        grade_A.append(name)
    elif avg_mark>=70 and avg_mark<=79:
        grade= "B"
        grade_B.append(name)
    elif avg_mark>=60 and avg_mark<=69:
        grade= "C"
        grade_C.append(name)
    elif avg_mark>=51 and avg_mark<=59:
        grade= "D"
        grade_D.append(name)
    else:
        grade= "F"
        grade_F.append(name)

    print(f"Student Name:{name}, Total Marks in 3 quizzes:{total_marks}, Average Marks:{avg_mark}, Grade:{grade}")

Student Name:John, Total Marks in 3 quizzes:249, Average Marks:83.0, Grade:A
Student Name:Mason, Total Marks in 3 quizzes:226, Average Marks:75.33, Grade:B
Student Name:Susan, Total Marks in 3 quizzes:251, Average Marks:83.67, Grade:A
Student Name:Jake, Total Marks in 3 quizzes:183, Average Marks:61.0, Grade:C
Student Name:Noah, Total Marks in 3 quizzes:236, Average Marks:78.67, Grade:B
Student Name:Chris, Total Marks in 3 quizzes:253, Average Marks:84.33, Grade:A
Student Name:Wick, Total Marks in 3 quizzes:130, Average Marks:43.33, Grade:F

In [67]:
student_grade={}
student_grade["Grade-A"]= grade_A
student_grade["Grade-B"]= grade_B
student_grade["Grade-C"]= grade_C
student_grade["Grade-D"]= grade_D
student_grade["Grade-F"]= grade_F

In [69]:
student_grade

{'Grade-A': ['John', 'Susan', 'Chris'],
 'Grade-B': ['Mason', 'Noah'],
 'Grade-C': ['Jake'],
 'Grade-D': [],
 'Grade-F': ['Wick']}