## defining a function

In [1]:
def alert():
    print("This is an alert")

# call the alert function
alert()

This is an alert

## Parameters and Arguments

In [3]:
def print_name(name):
    print(f"My name is {name}")

print_name("Wick")

My name is Wick

In [5]:
def add_two_nums(a, b):
    r = a + b
    print(f"Result is: {r}")

add_two_nums(40, 60)

Result is: 100

## Positional and keyword arguments

In [7]:
def my_func(name, age):
    print(f"Name: {name}, Age: {age}")

In [9]:
my_func("John", 21)

Name: John, Age: 21

In [11]:
my_func(21, "John")

Name: 21, Age: John

In [15]:
# using keyword arguments
my_func(age = 21, name = "John")

Name: John, Age: 21

## parameter's default value

In [22]:
def add_nums(a, b):
    r = a + b
    print(r)

In [24]:
add_nums(5, 7)

12

In [26]:
add_nums(6)

TypeError: add_nums() missing 1 required positional argument: 'b'

In [28]:
# Using default value of parameter b
def add_nums(a, b = 10):
    r = a + b
    print(r)

In [30]:
add_nums(6)

16

## Return from a function

In [4]:
def add_two_nums(a, b):
    sum = a + b
    return sum

In [10]:
r = add_two_nums(10, 20)
print(r)

30

In [16]:
def full_name(firstname, lastname):
    f = f"{firstname} {lastname}"
    return f.title()

In [18]:
full_name("john", "wick")

'John Wick'

### Making an argument optional

In [23]:
def formated_name(firstname, middlename = '', lastname):
    fullname = firstname + middlename + lastname
    return fullname

SyntaxError: parameter without a default follows parameter with a default (32446760.py, line 1)

In [31]:
def formated_name(firstname, lastname, middlename = ''):
    fullname = firstname + " " + middlename + " " + lastname
    return fullname

In [33]:
name = formated_name("jinan", "hossain", "md")
print(name)

jinan md hossain

In [35]:
name = formated_name("jinan", "hossain")
print(name)

jinan  hossain

In [37]:
# two spaces

In [39]:
def formated_name(firstname, lastname, middlename = ''):
    if middlename:
        fullname = firstname + " " + middlename + " " + lastname
    else:
        fullname = firstname + " " + lastname
    
    return fullname

In [41]:
name = formated_name("jinan", "hossain", "md")
print(name)

jinan md hossain

In [43]:
name = formated_name("jinan", "hossain")
print(name)

jinan hossain

## return a dictionary

In [49]:
def build_user(first_name,last_name,mobile_num):
    user={'First Name':first_name, 'Last Name':last_name, 'Mobile Number':mobile_num}
    return user

In [53]:
user1= build_user('John', 'Wick', 2323223434)
print(user1)

{'First Name': 'John', 'Last Name': 'Wick', 'Mobile Number': 2323223434}

In [59]:
def build_user(first_name, last_name, mobile_num, age=None):
    user={'First Name': first_name, 'Last Name': last_name, 'Mobile Number': mobile_num}
    if age:
        user['age']= age
    return user

In [61]:
user2= build_user("Michael", "Myers", 2434324, 20)
user3= build_user('Kevin','Roy',232343545)
print(user2)
print(user3)

{'First Name': 'Michael', 'Last Name': 'Myers', 'Mobile Number': 2434324, 'age': 20}
{'First Name': 'Kevin', 'Last Name': 'Roy', 'Mobile Number': 232343545}

## Passing a List as argument

In [65]:
list1 = [2, 4, 6, 7, 8]
for num in list1:
    print(num)

2
4
6
7
8

In [67]:
def num_printing(list):
    for num in list:
        print(num)

In [69]:
num_printing(list1)

2
4
6
7
8

In [71]:
list2 = [50, 6, 7, 20, 9]
num_printing(list2)

50
6
7
20
9

# Create new list where the elements are the squares of the elements of a given list

In [74]:
new_list = []
for num in list2:
    s = num ** 2
    new_list.append(s)

In [76]:
new_list

[2500, 36, 49, 400, 81]

In [78]:
def sq_nums(list):
    new_list = []
    for n in list:
        sq = n ** 2
        new_list.append(sq)
    return new_list

In [82]:
sq1 = sq_nums(list1)
print(sq1)

[4, 16, 36, 49, 64]

In [84]:
sq1

[4, 16, 36, 49, 64]

In [86]:
sq_new = sq_nums([2, 5, 6, 8])
print(sq_new)

[4, 25, 36, 64]

## Creating function for sorting a list as descending order

In [90]:
def desd_order(list):
    dsd_order = sorted(list, reverse = True)
    return dsd_order

In [94]:
sorted_list1 = desd_order(list1)
print(sorted_list1)

[8, 7, 6, 4, 2]

In [96]:
sorted_list2 = desd_order(list2)
print(sorted_list2)

[50, 20, 9, 7, 6]

## Creating a function for getting sum of numbers from a given list

In [14]:
list1= [23,54,65,43]

def num_sum(list):
    total=0
    for num in list:
        total= total+num
    return total

In [16]:
num_sum(list1)

185

In [19]:
def even_odd(a):
    if a % 2==0:
        print('Even')
    else:
        print('Odd')

In [21]:
even_odd(7)

Odd

## Write a Python function to find the maximum of two numbers.

In [26]:
a= 29
b= 56

if a>b:
    print("a is bigger")
else:
    print("b is bigger")

b is bigger

In [28]:
def max_value(a,b):
    if a>b:
        return a
    else:
        return b

In [30]:
max_value(23,43)

43

## Write a Python function to find the maximum of three numbers.

In [34]:
a= 34
b= 25
c= 97

if a>b and a>c:
    print('a is greater')
elif b>a and b>c:
    print('b is greater')
else:
    print('c is greater')

c is greater

In [40]:
def get_max_num(a,b,c):
    if a>b and a>c:
        return a
    elif b>a and b>c:
        return b
    else:
        return c

In [42]:
get_max_num(23,45,12)

45

## Write a Python function to reverse a string.

In [52]:
string1= "Python"
string2= ''

i= len(string1) - 1
while i >= 0:
    r= string1[i]
    string2 += r
    i-=1
print(string2)

nohtyP

In [54]:
i = 7 -1

In [57]:
def reverse_string(string1):
    string2= ''
    
    i= len(string1) - 1
    while i >= 0:
        r= string1[i]
        string2 += r
        i-=1
    print(string2)

In [59]:
reverse_string("Hello")

olleH

## Passing an Arbitrary Number of Arguments

### Positional Arguments

In [67]:
def add_nums(*nums):
    print(nums)

In [69]:
add_nums(10, 30, 40)

(10, 30, 40)

In [71]:
nums = (10, 30, 40)

In [73]:
add_nums(10)

(10,)

In [75]:
add_nums()

()

In [81]:
def add_nums(*nums):
    total = 0
    for n in nums:
        total += n
    return total

In [83]:
result = add_nums(10, 30)
print(result)

40

In [85]:
result = add_nums(10, 30, 50, 60)
print(result)

150

In [87]:
result = add_nums(10)
print(result)

10

In [89]:
result = add_nums()
print(result)

0

In [91]:
def new_func(a, b, *others):
    print(a)
    print(b)
    print(others)

In [93]:
new_func(29, 40 , 48, 59, 50)

29
40
(48, 59, 50)

In [95]:
def new_func(a, b, *others, c):
    print(a)
    print(b)
    print(others)
    print(c)

In [97]:
new_func(29, 40 , 48, 59, 50)

TypeError: new_func() missing 1 required keyword-only argument: 'c'

In [99]:
def new_func(a, b, c, *others):
    print(a)
    print(b)
    print(others)
    print(c)

In [101]:
new_func(29, 40 , 48, 59, 50)

29
40
(59, 50)
48

In [113]:
def build_profile(first, last, *user_info):
    print(first)
    print(last)
    print(user_info)

build_profile('albert', 'einstein', 'princeton', 'physics')

albert
einstein
('princeton', 'physics')

### keyword argument

In [105]:
def build_profile(first, last, **user_info):
    print(first)
    print(last)
    print(user_info)

In [107]:
build_profile('albert', 'einstein', location='princeton', field='physics')

albert
einstein
{'location': 'princeton', 'field': 'physics'}

In [115]:
def build_profile(first, last, **user_info):
    print(first)
    print(last)
    print(user_info)

build_profile('albert', 'einstein', 'princeton', 'physics')

TypeError: build_profile() takes 2 positional arguments but 4 were given

In [120]:
def build_profile(first, last, **user_info):
    print(user_info)
    user_info['first_name'] = first
    user_info['last_name'] = last
    print(user_info)

In [122]:
build_profile('albert', 'einstein', location='princeton', field='physics')

{'location': 'princeton', 'field': 'physics'}
{'location': 'princeton', 'field': 'physics', 'first_name': 'albert', 'last_name': 'einstein'}