## Data Types:

1. Write down the names of different data types in Python.
2. Compare the properties of different collection types.
3. What do you understand by “type casting”? Explain briefly with examples.

## String

In [1]:
summary =  "The AI revolution began quietly. Small bots learned tasks quickly. Soon, they improved factories and offices. People marveled at their efficiency. Jobs transformed, roles shifted. AI wrote stories, painted art, and drove cars. Society adapted to new possibilities. Innovation surged across every field. The future felt bright and boundless. AI was humanity's greatest tool."
summary

"The AI revolution began quietly. Small bots learned tasks quickly. Soon, they improved factories and offices. People marveled at their efficiency. Jobs transformed, roles shifted. AI wrote stories, painted art, and drove cars. Society adapted to new possibilities. Innovation surged across every field. The future felt bright and boundless. AI was humanity's greatest tool."

Write the answers of the following questions. You have to add  codes (where necessary): 
[marks = 6 x 2 = 12]
1. How many characters are in the summary string?
2. Convert to a new string where the first character of each word is capitalized.
3. Convert to a new string where all the characters are in uppercase.
4. How would you check the number of words and sentences in the string? Write briefly.
5. Create a new list where the elements are the words of the summary string.
6. Print sentences one by one from the string.

#### Solution - String

In [3]:
# 1
total_char = len(summary)
print(f" There are {total_char} characters in the summary string")

 There are 373 characters in the summary string

In [7]:
# 2
first_word_capitalized_summary = summary.title()
print(first_word_capitalized_summary)

The Ai Revolution Began Quietly. Small Bots Learned Tasks Quickly. Soon, They Improved Factories And Offices. People Marveled At Their Efficiency. Jobs Transformed, Roles Shifted. Ai Wrote Stories, Painted Art, And Drove Cars. Society Adapted To New Possibilities. Innovation Surged Across Every Field. The Future Felt Bright And Boundless. Ai Was Humanity'S Greatest Tool.

In [9]:
# 3
uppercase_summary = summary.upper()
print(uppercase_summary)

THE AI REVOLUTION BEGAN QUIETLY. SMALL BOTS LEARNED TASKS QUICKLY. SOON, THEY IMPROVED FACTORIES AND OFFICES. PEOPLE MARVELED AT THEIR EFFICIENCY. JOBS TRANSFORMED, ROLES SHIFTED. AI WROTE STORIES, PAINTED ART, AND DROVE CARS. SOCIETY ADAPTED TO NEW POSSIBILITIES. INNOVATION SURGED ACROSS EVERY FIELD. THE FUTURE FELT BRIGHT AND BOUNDLESS. AI WAS HUMANITY'S GREATEST TOOL.

In [15]:
# 4
# first convert into list and then check the length
# for word list => summary.split()
# for sentence list => summary.split(".")

In [21]:
# 5
word_list = summary.split()
print(word_list)

['The', 'AI', 'revolution', 'began', 'quietly.', 'Small', 'bots', 'learned', 'tasks', 'quickly.', 'Soon,', 'they', 'improved', 'factories', 'and', 'offices.', 'People', 'marveled', 'at', 'their', 'efficiency.', 'Jobs', 'transformed,', 'roles', 'shifted.', 'AI', 'wrote', 'stories,', 'painted', 'art,', 'and', 'drove', 'cars.', 'Society', 'adapted', 'to', 'new', 'possibilities.', 'Innovation', 'surged', 'across', 'every', 'field.', 'The', 'future', 'felt', 'bright', 'and', 'boundless.', 'AI', 'was', "humanity's", 'greatest', 'tool.']

In [29]:
# 6 - printing sentences one by one
sentence_list = summary.split(".")
sentence_list

for sentence in sentence_list:
    print(sentence.strip())

The AI revolution began quietly
Small bots learned tasks quickly
Soon, they improved factories and offices
People marveled at their efficiency
Jobs transformed, roles shifted
AI wrote stories, painted art, and drove cars
Society adapted to new possibilities
Innovation surged across every field
The future felt bright and boundless
AI was humanity's greatest tool

## List

In [69]:
num_list = [30, 20, 45, 15, 75, 50, 60]
num_list

[30, 20, 45, 15, 75, 50, 60]

Write the answers of the following questions. You have to add  codes (where necessary):[marks = 10 X 2 = 20]

1. Print the first, last, and second last elements of num_list.
2. Print the total number of elements in num_list.
3. Print the numbers from num_list one by one.
4. Create a new list where the elements are double the values of the elements in num_list.
5. Add the numbers in num_list and print the total value.
6. Explain the difference between the sort() and sorted() methods for working with lists in Python.
7. Temporarily sort the list in descending order.
8. What is the difference between sorting in descending order and reversing the elements in a Python list?
9. What are the different mechanisms for deleting or removing elements from a list? Apply these mechanisms to num_list.
10. Convert num_list into a tuple.

#### Solution - List

## Dictionary

In [18]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "Colors": "blue"
}

thisdict

{'brand': 'Ford', 'electric': False, 'year': 1964, 'Colors': 'blue'}

Write the answers of the following questions. You have to add  codes (where necessary): [marks = 4 x 2 = 8]

1. Update the brand from "Ford" to "Toyota".
2. Add a new pair with key "years_used" and value 5.
3. Remove the pair "electric": False from the dictionary.
4. Print the number of key-value pairs in the dictionary.

#### Solution - Dictionary

## Mixed

### Q-1
Ask a student how many quizzes he/she attended and get input value. Then ask for the marks for those quizzes and get the marks. Marks cann’t be less than zero or greater than one hundred.  At the end, print the total and the average mark he/she obtained from the quizzes. 			[marks = 5]

#### Solution - Q-1

In [39]:
num_of_quizes = input("How many quizes had you attend? ")
num_of_quizes = int(num_of_quizes)
total = 0
i = 0
while i < num_of_quizes:
    marks = input("Enter marks: ")
    marks = int(marks)
    if marks < 0 or marks > 100:
        print("Invalid marks. Enter marks between 0 to 100")
    else:
        total = total + marks
    i = i + 1

avg_marks = total / num_of_quizes
print(total)
print(f"Average Marks: {round(avg_marks, 2)}")

How many quizes had you attend?  3
Enter marks:  40
Enter marks:  50
Enter marks:  60

150
Average Marks: 50.0

### Q-2

In [41]:
 students_gpa = {
    "Rahi" : [4.5, 4.89, 4.94],
    "Sami" : [5.00, 4.87, 5.00],
    "Johan": [4.90, 4.78, 4.58],
    "Ashik": [4.88, 4.94, 5.00]
}
students_gpa

{'Rahi': [4.5, 4.89, 4.94],
 'Sami': [5.0, 4.87, 5.0],
 'Johan': [4.9, 4.78, 4.58],
 'Ashik': [4.88, 4.94, 5.0]}

In this dictionary, the keys are the names of the students and the valus are  the lists of the GPA of their last three semesters.
Now code for printing the average GPA of the students as: 
“Rahi’s Average GPA is {average_gpa of rahi}”

#### Solution - Q-2

In [43]:
for k, v in students_gpa.items():
    name = k
    total_gpa = 0
    for gpa in v:
        total_gpa = total_gpa + gpa
    avg_gpa = total_gpa / 3

    print(f"{name}'s Average GPA is {round(avg_gpa, 2)}")

Rahi's Average GPA is 4.78
Sami's Average GPA is 4.96
Johan's Average GPA is 4.75
Ashik's Average GPA is 4.94

### Q-3

In [48]:
boys = [ ("John", 12, "soccer"), ("Alex", 10, "basketball"), ("Michael", 11, "chess"), ("David", 13, "football"), ("Chris", 9, "baseball") ]
boys

[('John', 12, 'soccer'),
 ('Alex', 10, 'basketball'),
 ('Michael', 11, 'chess'),
 ('David', 13, 'football'),
 ('Chris', 9, 'baseball')]

In this list, each element contains the name of the boy, his age and his favourite game.
Now write the code for printing name, age and game as like:
"Name: John, Age: 12, Favorite Game: Soccer"

#### Solution - Q-3

In [54]:
for name, age, game in boys:
    print(f"Name: {name.title()}, Age: {age}, Favorite Game: {game.title()}")

Name: John, Age: 12, Favorite Game: Soccer
Name: Alex, Age: 10, Favorite Game: Basketball
Name: Michael, Age: 11, Favorite Game: Chess
Name: David, Age: 13, Favorite Game: Football
Name: Chris, Age: 9, Favorite Game: Baseball

### Q-4

In [70]:
exam_marks = {
    "Student_1": [89, 78, 90, 87, 98, 96],
    "Student_2": [65, 80, 78, 79, 91, 87],
    "Student_3": [50, 40, 36, 52, 61, 30],
    "Student_4": [78, 90, 55, 67, 74, 89],
    "Student_5": [81, 75, 80, 83, 86, 84],
    "Student_6": [75, 89, 93, 78, 95, 92]
}
exam_marks

{'Student_1': [89, 78, 90, 87, 98, 96],
 'Student_2': [65, 80, 78, 79, 91, 87],
 'Student_3': [50, 40, 36, 52, 61, 30],
 'Student_4': [78, 90, 55, 67, 74, 89],
 'Student_5': [81, 75, 80, 83, 86, 84],
 'Student_6': [75, 89, 93, 78, 95, 92]}

Here’s a brief description of the grading system:
Grade A: Average mark >= 80
Grade B: 70 <= Average mark < 80
Grade C: 60 <= Average mark < 70
Grade D: 50 <= Average mark < 60
Grade F: Average mark < 50
Now write the codes for - 
(i) Printing each student name with his/her grade, 
(ii) Creating a new dictionary named student_grades like:
Student_grades = {
	Grade-A : [student_1, student_2, …..],
	Grade_B : [.........................],...............
}

#### Solution - Q-4

In [80]:
# 1
for name, marks in exam_marks.items():
    total = 0
    grade = ''
    for mark in marks:
        total += mark
    avg_mark = round(total / len(marks), 2)

    if avg_mark >= 80:
        grade = 'A'
    elif avg_mark >= 70 and avg_mark <= 79:
        grade = 'B'
    elif avg_mark >= 60 and avg_mark <= 69:
        grade = 'C'
    elif agv_mark >=50 and avg_mark <= 59:
        grade = 'D'
    else:
        grade= 'F'

    print(f"Student name: {name}, Total Marks: {total}, Average Marks: {avg_mark}, Grade: {grade}")

Student name: Student_1, Total Marks: 538, Average Marks: 89.67, Grade: A
Student name: Student_2, Total Marks: 480, Average Marks: 80.0, Grade: A
Student name: Student_3, Total Marks: 269, Average Marks: 44.83, Grade: D
Student name: Student_4, Total Marks: 453, Average Marks: 75.5, Grade: B
Student name: Student_5, Total Marks: 489, Average Marks: 81.5, Grade: A
Student name: Student_6, Total Marks: 522, Average Marks: 87.0, Grade: A

### A Nested Dictionary For Ques 5 and 6:

In [59]:
users = {
   
    "user1": {
        "firstname": "John",
        "lastname": "Doe",
        "location": "New York",
        "phone_number": "123-456-7890",
        "Is_registered":  "yes"
    },
    
    "user2": {
        "firstname": "Jane",
        "lastname": "Smith",
        "location": "Los Angeles",
        "phone_number": "987-654-3210",
        "Is_registered":  "no"
    },
    
    "user3": {
        "firstname": "Alice",
        "lastname": "Johnson",
        "location": "Chicago",
        "phone_number": "555-123-4567",
        "Is_registered":  "yes"
    },
   
    "user4": {
        "firstname": "Bob",
        "lastname": "Brown",
        "location": "Houston",
        "phone_number": "555-987-6543",
        "Is_registered":  "no"
    },
    
    "user5": {
         "firstname": "Charlie", 
         "lastname": "Davis", "location":
         "San Francisco", 
        "phone_number": "555-567-8901",
        "Is_registered":  "yes"
 }
}

users

{'user1': {'firstname': 'John',
  'lastname': 'Doe',
  'location': 'New York',
  'phone_number': '123-456-7890',
  'Is_registered': 'yes'},
 'user2': {'firstname': 'Jane',
  'lastname': 'Smith',
  'location': 'Los Angeles',
  'phone_number': '987-654-3210',
  'Is_registered': 'no'},
 'user3': {'firstname': 'Alice',
  'lastname': 'Johnson',
  'location': 'Chicago',
  'phone_number': '555-123-4567',
  'Is_registered': 'yes'},
 'user4': {'firstname': 'Bob',
  'lastname': 'Brown',
  'location': 'Houston',
  'phone_number': '555-987-6543',
  'Is_registered': 'no'},
 'user5': {'firstname': 'Charlie',
  'lastname': 'Davis',
  'location': 'San Francisco',
  'phone_number': '555-567-8901',
  'Is_registered': 'yes'}}

### Q-5
Now, write a loop to print each user's details in the format: 
“{full_name} is from {location}, Contact: {phone_number}, Username: {username}”
Where, full_name = firstname + lastname. Full Name must be in title format.

#### Solution - Q-5

In [63]:
for key,value in users.items():
    # print(key)
    # print(value)
    Username=key
    first_name=value['firstname']
    last_name= value['lastname'] 
    location= value['location']
    phone_number= value['phone_number']
    print(f"{first_name} {last_name} is from {location}, Contact:{phone_number}, Username:{Username}")

John Doe is from New York, Contact:123-456-7890, Username:user1
Jane Smith is from Los Angeles, Contact:987-654-3210, Username:user2
Alice Johnson is from Chicago, Contact:555-123-4567, Username:user3
Bob Brown is from Houston, Contact:555-987-6543, Username:user4
Charlie Davis is from San Francisco, Contact:555-567-8901, Username:user5

### Q-6
If is_registration = yes, only then the user is verified, otherwise she/he is unverified user. Create and print two different list. One if for the verified users  and another one is for unverified users. The elements of both list are the usernames.

#### Solution - Q-6

In [72]:
verified=[]
unverified=[]
registration= value['Is_registered']
if registration == 'yes':
    verified.append(first_name)
else:
    unverified.append(first_name)

print(verified)
print(unverified)

['Charlie']
[]

In [70]:
t = {2,3,4}
t

{2, 3, 4}

In [88]:
t[0] = 5
t

TypeError: 'set' object does not support item assignment

In [1]:
f = "john"
l = "wick"

In [3]:
f

'john'

In [5]:
l

'wick'

In [11]:
r = f + ' ' + l
r.title()

'John Wick'